.kennel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.locations {
    margin-top: 3em;
    background-color: lightblue;
}
.employee {
    margin-top: 3em;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}
.employees {
    margin-top: 3em;
    background-color: lightcoral;
}
.animals {
    margin-top: 3em;
    background-color: lightsalmon;
}
.owners {
    margin-top: 3em;
    background-color: lightgreen;
}
.owner {
    margin-top: 3em;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}
.button {
    background-color: white;
    border-radius: 25px;
}
.card-link {
    display: flex;
    justify-content: center;
}
.employeeForm {
    margin-top: 3em;
}
.ownerForm {
    margin-top: 3em;
}
.employeeButton {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 10px 0;
}
.ownerButton {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 10px 0;
}
